#grabber-concrete-settings-form {}
#grabber-concrete-settings-form .form-type-select label { display: inline-block; width: 180px; }
#grabber-concrete-settings-form .form-type-select select { display: inline-block; width: 200px; }

#grabber-map {
    background: url('overview.png');
    position: relative;
    width: 825px;
    height: 475px;
    margin: 30px 0;
}

#grabber-map .object {
    position: absolute;
    border: 1px solid black;
    background: white;
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#grabber-map .object:hover {
    border: 1px solid red;
}

#grabber-map #grabber-map-loader {
    left: 290px;
    top: 240px;
}

#grabber-map #grabber-map-scanner {
    left: 570px;
    top: 240px;
}

#grabber-map #grabber-map-logger {
    left: 10px;
    top: 210px;
}

#grabber-map #grabber-map-store {
    left: 360px;
    top: 410px;
}

#grabber-map .object .menu {
    position: absolute;
    top: 0;
    left: 0px;
    display: none;
    line-height: normal;
    background: #222;
    border: 1px solid #ccc;
}

#grabber-map .object:hover .menu {
    display: block;
}

#grabber-map .object .menu .menu-item {
    padding: 6px 10px;
}
#grabber-map .object .menu .menu-item:hover {
    background: #333;
}

#grabber-map .counter {
    position: absolute;
    top: 0;
    right: 0;
    font-size: small;
    padding: 2px 4px;
    line-height: normal;
    border: 1px solid #c0c0c0;
}
#grabber-map .counter-error {
    border-color: red;
}